
body {
    /* background-image: url(/assets/images/watercolour.png); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#gem {
    height: 75%;
    width: 75%;
}